
bin/
obj/
.vs/
*.user
*.suo
*.cache
*.log

project.assests.json
project.nuget.cache
*.nuget.g.props
*.nuget.g.targets
*.dgspec.json

#Assembly info file
**/AssemblyInfo.cs
#Ignore specific cache files
**/AssemblyInfoInputs.cache
/SmartHotelBookingSystem/obj/Debug/net9.0/SmartHotelBookingSystem.AssemblyInfo.cs
