.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding-top: 56px; /* Height of the navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link:hover {
  color: #007bff; /* Your $primary color */
}

/* Style for the active NavLink */
.sidebar .nav-link.active {
  color: #007bff;
  font-weight: 700;
}